
.navbar {
    background-color: transparent;
    transition: 250ms;
}

.colored-background {
    background-color: #8b351d;
}

.divisor{
    display: none;
}

.navbar-toggler-icon span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
    margin-bottom: 4px;
}

.navbar-brand {
    margin-left: 2rem;
}

.mobile-version{
    display: none;
}

.right-canvas-head{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-toggler {
    color: white;
    background-color: rgba(0,0,0,.125);
    width: 40px;
    height: 40px;
    padding: 13px 8px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.responsive, .responsive2 {
    width: 216px;
    height: auto;
    margin: 0;
}

.nav-item{
    color: black;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: lightgray;
}

.dropdown-item{
    color: black;
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem 1.5rem;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: lightgray;
}

*, :after, :before {
    box-sizing: border-box;
}

.btn-outline-light {
    background-color: whitesmoke;
    border-radius: 18px;
    color: black;
}

.btn-success {
    border-radius: 18px;
}

.btn-outline-danger {
    border-radius: 18px;
    background-color: whitesmoke;
}

.bi-bell { color: white }
.bi-person { color : white }

.nav-link { color : black}

.text-dark {
    text-align: left;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    margin-left: 5px;
}

.container_container {
    max-width: 1018px;;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    display: flow-root;
}

.img-fluid {
    width: 100%;
}

.big_title{
    display: inline-block;
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    letter-spacing: -.06em;
    margin: -0.1em 0.1em 0 0.05em;
    text-transform: uppercase;
}

.opener_title {
    display: inline-block;
    transform: matrix(1,-.05,0,1,0,0);
    background-color: #5b83be;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 0 #fff, 8px 8px 12px rgba(0,0,0,.1);
    margin-top: -1%;
    margin-left: -.8%;
    text-align: center;
}

.main_title {
    display: block;
    -webkit-background-clip: text;
    color: black;
    font-weight: 500;
    padding-top: 50px;
}

.container_info{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 1.05;
    max-width: 100%;
    overflow: hidden;
    padding: 0.5rem 0;
}

.dovesiamo {
    display: block;
    margin: 0 0 0.375rem 0.5rem;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 18px;
    height: 26px;
    padding: 0 12px;
    line-height: 24px;
    text-transform: capitalize;
    color: #282828;
    order: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_link{
    color: black;
    text-decoration: dashed;
    font-size: 50px;
}

.live_box_title {
    display: inline-block;
}

.live_link {
    display: inline-block;
    color: #e00e0e;
    text-decoration: dashed;
    font-size: 20px;
}

.tab_switcher {
    display: inline-block;
}

.live_btn_1 {
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    border: 1px solid black;
    border-radius: 18px;
    margin-right: 0.75rem;
    margin-left: 1.5rem;
}

.live_btn_2 {
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    border: 1px solid black;
    border-radius: 18px;
    margin-right: 0.75rem;
}

.games_link{
    display: inline-block;
    width: 180px;
    color: #282828;
}

.game_section {
    display: flex;
    height: 40px;
    font-size: 15px;
    align-items: center;
    background-color: white;
    margin-bottom: 1px;
    padding: 8px;
    border-left: 2px solid #555;
}

.game_section2 {
    display: flex;
    height: 40px;
    font-size: 15px;
    align-items: center;
    background-color: white;
    margin-bottom: 1px;
    padding: 8px;
    border-left: 2px solid #555;
}

.game_img{
    height: 24px;
    width: 24px;
    object-position: center;
    object-fit: cover;
    margin-right: 8px;
    overflow: hidden;
}

.team_name{
    flex: 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282828;
    font-size: 15px;
}

.team_name2 {
    flex: 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282828;
    font-size: 15px;
}

.team_score {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    width: 1ch;
    text-align: center;
    font-weight: 700;
}

.row {
    justify-content: space-between;
}

.time {
    color: #555;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-top: 0.25rem;
}

.top_news {
    display: flex;
    margin: 1.25rem 0;
    justify-content: flex-start;
}

.top_new_title {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 400;
    color: #8b351d;
    flex: 0 0 auto;
}


.top_link {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 700;
    display: inline-block;
    color:black;
    position: relative;
    white-space: nowrap;
    text-decoration: dashed;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.top_link:after{
    content: "";
    position: absolute;
    background-color: gray;
    height: 110%;
    bottom: -5%;
    left: 0;
    right: 0;
    opacity: .15;
    transform-origin: bottom;
    transform: scaleY(.45);
    margin-bottom: 7px;
}

.section2_title {
    position: relative;
    font-size: 44px;
    line-height: 1.275;
    font-weight: 800;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #4984b8;
}

.section2_title:before {
    content: "";
    position: absolute;
    opacity: 0.30;
    top: -0.75rem;
    left: 0;
    height: 4px;
    width: 44px;
    background-color: gray;
}

.double_article {
    display: flex;
    justify-content: space-between;
}

.first_col {
    flex: 0 0 584px;
    width: 584px;
}

.art1_img {
    position: relative;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
}

.art1_title {
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 44px;
    line-height: 1.05;
    letter-spacing: -.03em;
    font-family: sans-serif;
    color: black;
}

.info_art1 {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 1.05;
    max-width: 100%;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link_art1 {
    font-size: 15px;
    line-height: 2;
    font-weight: 700;
    margin-right: 1rem;
    font-family: Poppins, sans-serif;
    color: #8B351D;
    white-space: nowrap;
    text-decoration: dashed;
}

.grid_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
}

.grid_img_container {
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
}

.grid_title1_link{
    font-size: 30px;
    letter-spacing: -.02em;
    color: black;
    text-decoration: dashed;
    font-weight: 600;
}

.infogrid_article {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 1.05;
    max-width: 100%;
    overflow: hidden;
    padding: 0.5rem 0;
}

.grid {
    display: grid;
    grid-auto-rows: auto;
}

.art2_title{
    position: relative;
    font-size: 22px;
    line-height: 1.55;
    font-weight: 800;
}

.art2_title:before {
    content: "";
    position: absolute;
    top: -0.75rem;
    left: 0;
    height: 4px;
    width: 44px;
    background-color: gray;
}

.second_col {
    flex: 0 0 352px;
    width: 352px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0;
}

.art3 {
    margin-bottom: 3.375rem;
}

.link_img_art3 {
    position: relative;
    display: block;
}

.col2_img_container {
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
}

.art3_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
}

.link_title_art3-4 {
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.05;
    letter-spacing: -.03em;
    color: black;
    text-decoration: dashed;
}

.art4 {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    font-family: Couplet CF,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.link_img_art4 {
    position: relative;
    display: block;
}

.art4_img_cont {
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
}

.art4_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
}

@media screen and (min-width: 1023px) {
    .second_col {
        position: sticky;
        top: 100px;
        height: 100%;
    }
}

.swiper-container{
    margin: 1.25rem 0;
}

.swiper_header {
    padding: 0.5rem 0 0.125rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.swiper_title {
    position: relative;
    font-size: 22px;
    line-height: 1.55;
    font-weight: 800;
    margin: 0;
}

.swiper_title:before {
    content: "";
    position: absolute;
    top: -0.75rem;
    left: 0;
    height: 4px;
    width: 44px;
    background-color: grey;
    margin-top: 0.5rem;
}

.swiper {
    width: 100%;
    height: 100%;
}
.mySwiper {
    position: relative;
}

.swiper-wrapper{
    padding-bottom: 6rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-btn-next {
    color: #8B351D;
    position: absolute;
    top: 5px;
    right: 3px;
    z-index: 2;
}

.swiper-btn-prev {
    color: #8B351D;
    position: absolute;
    top: 40px;
    right: 3px;
    z-index: 2;
}

.swiper_art_title {
    font-size: 20px;
    letter-spacing: -.02em;
    color: black;
    text-decoration: dashed;
    margin-top: 10px;
    text-align: start;
    margin-left: 3px;
}

.swiper_infobox {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.page-footer{
    display: block;
    background-color: #282828;
    color: #fff;
    padding: 0 14px 40px;
}

.pre-footer{
    padding-top: 25px;
    padding-bottom: 10px;
}

.section-title-header {
    padding: 0.5rem 0 0.125rem;
    display: flex;
    align-items: center;
    align-content: space-around;
}

.section-title {
    font-size: 22px;
    line-height: 1.55;
    font-weight: 800;
}

.section-title:before {
    content: "";
    position: absolute;
    top: -0.75rem;
    left: 0;
    width: 44px;
    background-color: #555;
    height: 3px;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-link {
    font-size: 13px;
    line-height: 16px;
    color: white;
    text-decoration: dashed;
}

#search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8B351D;
    opacity: 0.95;
    z-index: 9999;
}

#search-overlay form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-overlay input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #8B351D;
    opacity: 0.95;
    color:white;
}

#search-overlay input[type="text"]::placeholder {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#search-overlay button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}


#search-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search-close i {
    font-size: 24px;
    color: white;
}
.social-footer-list{
    display: flex;
    list-style-type: none;
    border-bottom: 2px solid #5b5555;
    padding-top: 1rem;
    padding-left: 0;
    flex-wrap: wrap;
}

.social-list-item{
    margin-right: 1rem;
}

.social-footer-link{
    font-size: 13px;
    line-height: 16px;
    color: white;
    text-decoration: dashed;
}

@media screen and (max-width: 1023px){
    .navbar{
        background-color: white;
    }

    .navbar-toggler {
        order: 4;
    }

    .offcanvas-start{
        width: 100%;
    }

    .btn-outline-danger, .bi-bell, .bi-person, .bell, .person {
        display: none;
    }

    .divisor{
        display: flex;
        color: white;
    }

    .big_title {
        font-size: 60px;
    }

    .container-bi-title {
        text-align: center;
    }

    .main_link {
        text-align: start;
        font-size: 40px;
    }

    .game_section2 {
        display: flex;
        flex-direction: row-reverse;
        border-right: 2px solid#555;
    }

    .games_link {
        display: inline;
        flex-direction: row;
    }

    .team_name2 {
        text-align: end;
        margin-right: 0.5rem;
    }

    .team_score{
        margin-left: 1rem;
    }

    .journal {
        display: none;
    }

    .first_col{
        flex: 1 1 100%;
        width: 100%;
    }

    .second_col{
        flex: 1 1 100%;
        width: 100%;
    }

    .double_article {
        flex-wrap: wrap;
    }

    .art2_img {
        width: 100%;
    }

    .mobile-version{
        display: block;
    }
}

@media screen and (max-width: 1023px) and (min-width: 238px){
    .d-flex {
        margin-right: 0;
    }
}

@media screen and (max-width: 238px){
    .d-flex {
        flex-direction: row;
    }
}

@media screen and (max-width: 500px){

    .responsive {
        width: 150px;
        margin-left: 0;
    }

    .responsive2{
        margin-left: 0;
        width: 180px;
    }

    .big_title {
        font-size: 40px
    }

    .top_news{
        flex-direction: column;
    }

    .btn-success{
        display: none;
    }

    .section2_title , .art1_title{
        font-size: 30px;
    }

    .grid_title1_link{
        font-size: 20px
    }

    .infogrid_article{
        flex-direction: column;
    }

    .art1_title{
        font-size: 25px;
    }

    .link_title_art3-4{
        font-size: 20px;
    }
    .main_link {
        font-size: 30px;
    }

    .main_title{
        padding-top: 20px;
    }

    .img-fluid{
        padding-top: 4rem;
    }

    .game_section, .game_section2 {
        padding: 3px
    }
    .top_link{
        font-size: 20px;
    }

    .mobile-version{
        display: block;
        margin-right: 0;
    }
}
